<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <title>Aigen</title>
  </head>

  <body>
    <section class="">
      <div class="w-full h-full min-h-screen bg-contain bg-center bg-fixed bg-[url('/images/bg.jpg')]">
        <div
          class="w-full h-full min-h-screen bg-contain bg-no-repeat bg-center backdrop-blur-sm bg-fixed bg-[url('/images/bg.jpg')]"
        >
          <div class="absolute inset-0"></div>
          <!-- {/* BANNER SECTION */} -->
          <div class="relative z-10">
            <section class="BANNER">
              <div
                class="flex flex-col items-center justify-center w-full min-h-screen bg-gray-900 bg-opacity-60 py-12"
              >
                <div class="text-center">
                  <div class="container px-4 mx-auto">
                    <div class="max-w-4xl mx-auto text-center">
                      <span
                        data-aos="fade-up"
                        data-aos-duration="600"
                        data-aos-delay="1000"
                        class="text-gray-200 font-semibold uppercase tracking-widest"
                      >
                        aigen bootcamp batch 1
                      </span>
                      <div data-aos="zoom-in" data-aos-duration="800" class="flex items-center justify-center">
                        <p class="text-4xl lg:text-6xl -scale-y-100 -rotate-180">🎉</p>
                        <h2 class="mt-8 mb-6 text-4xl lg:text-6xl font-bold text-gray-100">CONGRATULATIONS!🎉</h2>
                      </div>
                      <p
                        data-aos="fade-in"
                        data-aos-duration="1000"
                        data-aos-delay="1200"
                        class="max-w-4xl mx-auto mb-10 text-xl text-gray-200"
                      >
                        Selamat atas kelulusan Bootcamp! Kalian telah menunjukkan dedikasi dan kerja keras yang luar
                        biasa. Selamat memulai petualangan baru menjadi web developer! Sukses selalu!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="flex justify-center items-center mt-24">
                  <img
                    data-aos="fade-down"
                    data-aos-duration="1000"
                    data-aos-delay="1800"
                    src="/images/scrolldown.gif"
                    alt="gif"
                    class="h-40"
                  />
                </div>
              </div>
            </section>
            <!-- {/* CARD SECTION */} -->
            <section>
              <div
                class="flex h-screen items-center justify-center space-y-6 bg-gray-900 bg-opacity-60 px-4 sm:flex-row sm:space-x-6 sm:space-y-0"
              >
                <div
                  data-aos="zoom-in"
                  data-aos-duration="1000"
                  class="bg-gray-900 p-1 max-w-7xl w-full rounded-lg shadow-lg duration-300 hover:scale-[1.02]"
                >
                  <div class="border-b border-gray-800 px-8 py-3">
                    <div class="inline-block w-5 h-5 mr-2 rounded-full bg-red-500"></div>
                    <div class="inline-block w-5 h-5 mr-2 rounded-full bg-yellow-300"></div>
                    <div class="inline-block w-5 h-5 mr-2 rounded-full bg-green-400"></div>
                  </div>
                  <div
                    class="w-full py-12 justify-center items-center flex max-w-7xl overflow-hidden rounded-lg bg-white shadow-md hover:shadow-xl"
                  >
                    <div class="flex flex-col justify-center items-center">
                      <div data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500" class="">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="mx-auto mt-8 h-28 w-28 text-green-400"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fillRule="evenodd"
                            d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clipRule="evenodd"
                          />
                        </svg>
                        <h1 class="mt-2 text-center text-4xl font-bold text-gray-500">Valid Certificate</h1>
                        <p class="my-4 text-center text-lg text-gray-500">Congratulations for your graduation!</p>
                      </div>
                      <div class="container p-2 mx-auto rounded-md sm:p-4 text-gray-600">
                        <div class="relative overflow-x-auto">
                          <table class="text-lg font-semibold">
                            <tbody>
                              <tr
                                data-aos="fade-in"
                                data-aos-duration="600"
                                data-aos-delay="1300"
                                class="text-right border-opacity-20 border-gray-300"
                              >
                                <td class="px-3 py-2 text-left">
                                  <span>Nama</span>
                                </td>
                                <td class="px-3 py-2 text-left">
                                  <span>: <%= data.Nama %></span>
                                </td>
                              </tr>
                              <tr
                                data-aos="fade-in"
                                data-aos-duration="700"
                                data-aos-delay="1600"
                                class="text-right border-opacity-20 border-gray-300"
                              >
                                <td class="px-3 py-2 text-left">
                                  <span>Program</span>
                                </td>
                                <td class="px-3 py-2 text-left">
                                  <span>: <%= data.Program %></span>
                                </td>
                              </tr>
                              <tr
                                data-aos="fade-in"
                                data-aos-duration="800"
                                data-aos-delay="1900"
                                class="text-right border-opacity-20 border-gray-300"
                              >
                                <td class="px-3 py-2 text-left">
                                  <span>Date</span>
                                </td>
                                <td class="px-3 py-2 text-left">
                                  <span>: <%= data.Tanggal %></span>
                                </td>
                              </tr>
                              <tr
                                data-aos="fade-in"
                                data-aos-duration="900"
                                data-aos-delay="2200"
                                class="text-right border-opacity-20 border-gray-300"
                              >
                                <td class="px-3 py-2 text-left">
                                  <span>Status</span>
                                </td>
                                <td class="px-3 py-2 text-left">
                                  <span>: <%= data.status %></span>
                                </td>
                              </tr>
                              <tr
                                data-aos="fade-in"
                                data-aos-duration="1000"
                                data-aos-delay="2500"
                                class="text-right border-opacity-20 border-gray-300"
                              >
                                <td class="px-3 py-2 text-left">
                                  <span>Certificate</span>
                                </td>
                                <td class="px-3 py-2 text-left">
                                  <span>: <%= data.Certificate %></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    AOS.init();
  </script>
</html>
